<div class="home" [ngClass]="{'backGr': (darkMode$ | async)?.valor }">
    <div class="bar-container">
        <app-superior-bar></app-superior-bar>
    </div>
    <div class="search-container">
        <div class="input-search-container">
            <app-input-search ></app-input-search>
        </div>
        <div class="region-search-container">
            <app-region-search></app-region-search>
        </div>
    </div>
    <div class="flags-container">
        <app-country-flag ></app-country-flag>
    </div>
</div>

