<app-superior-bar></app-superior-bar>
<!--
    <h1>{{(dato$ | async)?.name}}</h1>
    <img [src]="dataPais[0].flags.png" alt="">
-->
<div class="container">
    <div class="container-flag">
        <div class="back">
            <button class="btn" routerLink="/home"><img class="icono" src="../../../assets/Imagenes/Iconos/flecha.svg" alt=""> Back</button>
        </div>
        <div class="flag">
            <img [src]="dataPais.flags.png" alt="">
        </div>
    </div>
    <div class="container-datos">
        <div class="datos">
            <div class="dato-1">
                <h2>{{dataPais.name.common}}</h2>
                <p><span>Official Name:</span> {{dataPais.name.official}}</p>
                <p><span>Population:</span> {{dataPais.population | number}}</p>
                <p><span>Region:</span> {{dataPais.region}}</p>
                <p><span>Sub Region:</span> {{dataPais.subregion}}</p>
                <p><span>Capital:</span> {{dataPais.capital}}</p>
            </div>
            <div class="dato-2">
                <p><span>Top Level Domain:</span> {{dataPais.tld}}</p>
                <!--Se llama a una funcion que va a convertir un array en un string y separarlo por coma-->
                <p><span>Currencies: </span>{{currencieComma(curr)}}</p>
                <p><span>Languages:</span> {{lenguajeComma(lenguaje)}}</p>
            </div>
        </div>
        <div class="fronteras">
            <p>Border Countries:</p>
            <ul class="fronteras-lista">
                <li (click)="paisSeleccionado(paisLimitrofe)" *ngFor="let paisLimitrofe of paisesLimitrofes" >{{paisLimitrofe.name.common}}</li>  
            </ul>
        </div>
    </div>
</div>
