.container{

    
}
.container-elementos{
    display: flex;
    height: 100vh;
}
//Dark Mode
.backG{
    background-color: hsl(207, 26%, 17%);
}
.container-flag{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 4rem;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 0.4rem 2rem 0.4rem 1.5rem;
    background-color: white;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.493);
    cursor: pointer;
}
//Dark Mode
.btnBackG{
    background-color: hsl(209, 23%, 22%);
    color: white;
}
.icono{
    width: 0.6rem;
    margin-right: 0.5rem;
}
.btn:hover{
    background-color: rgba(240, 240, 240, 0.699);
}
.btn:active{
    transform: scale(0.9);
}
.container-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-top: 9rem;
}
.datos{
    display: flex;
    align-items: center;
}
//Dark Mode
.colorText{
    color: white;
}
.dato-2{
    margin-top: 0;
    margin-left: 6rem;
    margin-bottom: 2.2rem;
    font-family: 'Nunito Sans', sans-serif;
    
}
.dato-2 p{
    margin-bottom: 0.5rem; 
}
.dato-2 span{
    font-weight: 800;
}
.currencies{
    display: flex;
    padding: 0;
}
.currencies p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    margin: 0;
}
.currencies li{
    list-style: none;
    
}

.dato-1 p{
    margin-bottom: 0.8rem;
    font-family: 'Nunito Sans', sans-serif; 
}

.dato-1 span{
    font-weight: 800;
}
.dato-1 h2{
    margin: 0.4rem 0 1.5rem 0;
    font-family: 'Nunito Sans', sans-serif;
    
}


.fronteras{
    display: flex;
}
.fronteras p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    width:30%;
}
.fronteras-lista{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.fronteras-lista li{
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    margin: 0 0 1rem 1rem;
    padding: 0.2rem 0.8rem;
    cursor: pointer;
}
.fronteras-lista li:hover{
    background-color: rgba(240, 240, 240, 0.699);
}
.back{
    width: 70%;
    margin-bottom: 3.5rem;
}
.flag{
    display: flex;
    justify-content: center;
    width: 100%;
}
img{
    width: 70%;
    height: auto;
}
@media screen and (max-width: 575.98px){
    .container{
        flex-direction: column;
    }
    .container-elementos{
        flex-direction: column;
    }
    .container-datos{
        margin-top: 0;
        width: 100%;
    }
    .datos{
        flex-direction: column;
        justify-content: start;
    }
    .dato-1{
        width: 85%;
    }
    .dato-1 h2{
        margin-bottom: 1rem;
    }
    .dato-1 p{
        margin: 0 0 0.8rem 0;
    }
    .dato-2{
        margin: 0;
        width: 85%;
    }
    .dato-2 p{
        margin: 1.5rem 0 0.8rem 0;
    }
    .container-flag{
        width: 100%;
        margin-top: 2rem;
    }
    img{
        width: 85%
    }
    .back{
        width: 85%;
        margin-bottom: 2rem;
    }
    
    .fronteras{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 3rem;
    }
    .fronteras p{
        width: 85%;
        font-size: 1.3rem;
        margin-top: 0rem;
        margin-bottom: 0.5rem;
    }
    .frontera ul{
        width: 85%;
    }
    .fronteras-lista{
        margin-top: 0;
    }
}