
<div class="country-flag-container" [ngClass]="{'backG': (darkMode$ | async)?.valor}">
    <ul>
        <li [ngClass]="{'backGCard': (darkMode$ |async)?.valor}" *ngFor="let pais of paises" (click)="clickCard(pais.name.common)" >
            <img [src]="pais.flags.png" alt="flag" />
            <h1>{{pais.name.common}}</h1>
            <p><span>Population: </span>{{pais.population | number}} </p>
            <p><span>Region: </span>{{pais.region}}</p>
            <p><span>Capital: </span>{{pais.capital}}</p>
        </li>
    </ul>
</div>

