
.input-container{
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: row;
}
.input-container input{
    margin-left: 3rem;
    width: 40%;
    height: 2rem;
    border-radius: 0.2rem;
    border: none;
    box-shadow: 1px 1px 3px gray;
    padding-left: 3rem;
}
li{
    list-style-type: none;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 3rem;
    color: black;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor: pointer;;
}
li:hover{
    background-color: rgba(9, 255, 0, 0.897);
}
ul{
    margin: 0;
    padding: 0;
}

.resultado-busqueda{
    position: relative;
    z-index: 15;
    top: -0.2rem;
    width: 20rem;
    left: 3rem;
    background-color: rgba(199, 212, 212, 0.932);
}

@media screen and (max-width: 575.98px){
 .input-container{
    width: 100%;
    display: flex;
    justify-content: center;
 }
 .input-container input{
    margin: 0.7rem 0 0 0;
    padding-left: 1rem;
    width: 90%;
 }
 .resultado-busqueda{
    left: 0.6rem;
    width: 94%;
 }
 li{
    padding-left: 1rem;
 }
}